* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body, html {
  height: 100%;
  width: 100%;
}

.app {
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}

button {
  cursor: pointer;
}

/* Remove browser default focus styles */
*:focus {
  outline: none;
}
